{% if post.bkg_type == "video" and post.vimeo_file_link %}

    {% set cover  = TimberImage(post.post_hero_poster) %}
    {% set video_mp4 = post.hero_background_vimeo_file_link %}
    {% set video_mp4_mob = post.hero_background_vimeo_file_link_mobile %}

    <div class="w-full relative lg:h-screen">

        <video muted autoplay loop playsinline preload="auto" 
            id="hero-video"
            class="w-full object-cover lazyload lg:h-screen hidden lg:flex"
            width="{{ cover.width }}"
            height="{{ cover.height }}"
            poster="{{ cover.src }}" 
        >
            <source type="video/mp4" src="{{ video_mp4 }}">
        </video>
        
        <video muted autoplay loop playsinline preload="auto" 
            id="hero-video"
            class="w-full object-cover lazyload lg:h-screen flex lg:hidden"
            width="{{ cover.width }}"
            height="{{ cover.height }}"
            poster="{{ cover.src }}" 
        >
            <source type="video/mp4" src="{{ video_mp4_mob }}">
        </video>

        <div id="hero-video-overlay" class="absolute w-full lg:h-screen top-0 left-0"></div>

        <div class="hero-video-title absolute top-0 lg:bottom-0 lg:top-auto left-0 uppercase text-white text-6xl lg:mt-24 aura lg:pl-4 flex justify-center lg:justify-start flex-wrap w-full lg:w-auto">
            <div class="w-full flex justify-center lg:hidden my-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="none" viewBox="0 0 139 139" data-sal="zoom-in" style="--sal-delay: 0s;" data-sal-duration="800">
                    <defs/>
                    <path fill="#fff" fill-rule="evenodd" d="M69.39 138.78C31.13 138.78 0 107.65 0 69.39 0 31.13 31.13 0 69.39 0c38.26 0 69.39 31.13 69.39 69.39 0 38.26-31.13 69.39-69.39 69.39zM69.39 2C32.23 2 2 32.23 2 69.39s30.23 67.39 67.39 67.39 67.39-30.23 67.39-67.39S106.55 2 69.39 2zM91.1 57.3c0-7.12-4.58-11.71-13.23-13.27l-.91-.16.89-.24c8.94-2.44 10.81-8.33 10.81-12.85 0-7.85-6.08-11.83-18.07-11.83H64.5c-1.51 0-3.169.02-4.838.04h-.032c-1.72.02-3.46.04-5.1.04h-6.85c2.01 5 2.82 7.8 2.82 14.92v22.22c0 6.78-.71 9.71-2.82 14.92h23.76C84.3 71.07 91.1 66.3 91.1 57.3zM62.92 20.42l.17-.03c1.15-.2 2.34-.29 3.98-.29 6.33 0 9.81 4.12 9.81 11.61 0 5.65-2.48 11.68-9.46 11.68h-4.51V20.42h.01zm.18 49.27l-.18-.03V44.61h4.72c6.94 0 10.6 4.29 10.6 12.39 0 8.41-3.92 13.04-11.03 13.04-1.23.01-2.57-.11-4.11-.35zm21.33 24.82h7.04c-1.98 2.16-3.45 4.03-5.41 8.85l-7.86 20.16h-2.02l-6.77-19.82-8.22 19.82h-2.02l-7.45-20.22c-1.82-5.02-3.02-7.08-4.41-8.8H61.6c-.99 1.51-1.29 5.21-.03 8.86l3.12 9.55 4.24-10.55-.02-.06c-1.72-4.76-2.52-6.4-3.85-7.79h14.03c-1.03 1.64-1.06 5.37-.04 8.86l2.7 8.68 3.15-8.13c1.77-4.16.82-7.9-.47-9.41zM20.55 82.02h97.67v2H20.55v-2z" clip-rule="evenodd"/>
                </svg>
            </div>

            {#  this was written specifically so 'Inspire Pride' will animate in different by word;
                it might not have great result with other titles #}
            {% for word in post.post_hero_title|split(' ') %}
                <div class="mr-3 lg:mr-0" data-sal="slide-{{ loop.index is even ? 'right' : 'left' }}" data-sal-duration="900" style="--sal-delay: {{ 750 + (loop.index0 * 500) }}ms;">
                    {{ word }}
                </div>
            {% endfor %}
        </div>
        <div class="hidden lg:block absolute bottom-0 right-0 text-white text-xl xl:text-2xl w-full md:w-1/2 lg:w-2/5 xl:w-1/2 p-12 xl:p-20 sans-medium splitMeByLine" data-delay="1600">
            {{ post.post_hero_subtitle }}
        </div>

        <video-play-pause
            selector="#hero-video"
            class="absolute bottom-0 right-0 mr-8 mb-4"
        >
        </video-play-pause>
    </div>

    <div class="lg:hidden text-black text-xl py-8 px-4 sans-medium splitMeByLine" data-delay="1600">
        {{ post.post_hero_subtitle }}
    </div>

{% else %}

    <div class="container py-10 lg:mt-24">
        <section class="home-hero">
            <div class="row py-8 md:py-12 lg:py-20 xl:py-24">
                <div class="lg:col-3">
                    <div class="flex flex-col">
                        <div class="flex self-center text-black" data-sal="zoom-in" style="--sal-delay: 0s;" data-sal-duration="800">
                            <svg class="logo-hero" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 139 139">
                                <defs/>
                                <path fill="#000" fill-rule="evenodd" d="M69.39 138.78C31.13 138.78 0 107.65 0 69.39 0 31.13 31.13 0 69.39 0c38.26 0 69.39 31.13 69.39 69.39 0 38.26-31.13 69.39-69.39 69.39zM69.39 2C32.23 2 2 32.23 2 69.39s30.23 67.39 67.39 67.39 67.39-30.23 67.39-67.39S106.55 2 69.39 2zM91.1 57.3c0-7.12-4.58-11.71-13.23-13.27l-.91-.16.89-.24c8.94-2.44 10.81-8.33 10.81-12.85 0-7.85-6.08-11.83-18.07-11.83H64.5c-1.51 0-3.169.02-4.838.04h-.032c-1.72.02-3.46.04-5.1.04h-6.85c2.01 5 2.82 7.8 2.82 14.92v22.22c0 6.78-.71 9.71-2.82 14.92h23.76C84.3 71.07 91.1 66.3 91.1 57.3zM62.92 20.42l.17-.03c1.15-.2 2.34-.29 3.98-.29 6.33 0 9.81 4.12 9.81 11.61 0 5.65-2.48 11.68-9.46 11.68h-4.51V20.42h.01zm.18 49.27l-.18-.03V44.61h4.72c6.94 0 10.6 4.29 10.6 12.39 0 8.41-3.92 13.04-11.03 13.04-1.23.01-2.57-.11-4.11-.35zm21.33 24.82h7.04c-1.98 2.16-3.45 4.03-5.41 8.85l-7.86 20.16h-2.02l-6.77-19.82-8.22 19.82h-2.02l-7.45-20.22c-1.82-5.02-3.02-7.08-4.41-8.8H61.6c-.99 1.51-1.29 5.21-.03 8.86l3.12 9.55 4.24-10.55-.02-.06c-1.72-4.76-2.52-6.4-3.85-7.79h14.03c-1.03 1.64-1.06 5.37-.04 8.86l2.7 8.68 3.15-8.13c1.77-4.16.82-7.9-.47-9.41zM20.55 82.02h97.67v2H20.55v-2z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="lg:hidden serif text-4xl md:text-5xl mt-20 mx-auto splitMeByLine">
                            Our collaborative process ensures the best ideas are brought to life—no matter who came up with them.
                        </div>
                        <div class="sans text-lg lg:text-xl mt-8 xl:mt-12 mr-6" data-sal="slide-down" data-sal-delay="400" data-sal-duration="800">
                            We are women- and minority-owned creative agency that builds pioneering work with our partners.
                        </div>
                    </div>
                </div>
                <div class="lg:col-9 hidden lg:block">
                    <h2 class="hero-h1 serif mt-4 xl:mt-12 lg:w-10/12 xl:w-7/12 mx-auto splitMeByLine">
                        Our collaborative process ensures the best ideas are brought to life—no matter who came up with them.
                    </h2>
                </div>
            </div>
        </section>
    </div>

{% endif %}

