<div class="bg-sand py-10 lg:py-16 mt-10" data-sal="fade-in" data-sal-duration="800" data-sal-easing="ease-in" style="--sal-delay: 0s;">
    <div class="container flex flex-col">
        <h4 class="text-md border-t-2 border-black py-6">
            {{ post.process_title }}
        </h4>

        <div class="w-full flex justify-center">
            <svg width="398" height="33" viewBox="0 0 398 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.399531 0.639998V6.64H4.27953V32H10.9995V6.64H14.8795V0.639998H0.399531ZM17.3686 0.639998V32H24.0886V17.4H27.4886V32H34.2086V0.639998H27.4886V11.4H24.0886V0.639998H17.3686ZM37.5686 0.639998V32H51.0486V26H44.2886V17.68H51.0486V11.68H44.2886V6.64H51.0486V0.639998H37.5686ZM64.0083 0.639998V32H71.3683C80.4083 32 80.9683 27.84 80.9683 21.76C80.9683 16.44 80.5283 16.28 78.3683 14.68C79.9683 13.92 80.9683 13.24 80.9683 9.12C80.9683 3.84 80.0883 0.639998 71.3283 0.639998H64.0083ZM70.7283 6.64H71.5683C73.8883 6.64 74.2483 6.88 74.2483 9.2C74.2483 11.44 73.9283 11.72 71.5683 11.72H70.7283V6.64ZM70.7283 17.32H71.3683C73.8883 17.32 74.2483 17.68 74.2483 21.76C74.2483 25.68 73.8883 26 71.4083 26H70.7283V17.32ZM84.2483 0.639998V32H97.7283V26H90.9683V17.68H97.7283V11.68H90.9683V6.64H97.7283V0.639998H84.2483ZM101.2 0.639998V32H114.12V26H107.92V0.639998H101.2ZM117.489 0.639998V32H130.409V26H124.209V0.639998H117.489ZM131.151 0.639998L135.111 32H142.231L144.231 15.52H144.311L146.351 32H153.471L157.431 0.639998H150.831L148.991 16.76H148.911L146.991 0.639998H141.591L139.711 16.76H139.631L137.751 0.639998H131.151ZM160.498 0.639998V32H173.978V26H167.218V17.68H173.978V11.68H167.218V6.64H173.978V0.639998H160.498ZM180.81 0.639998L176.85 32H183.45L183.89 27.52H187.65L188.09 32H194.69L190.73 0.639998H180.81ZM185.73 9.48H185.81L187.05 21.52H184.53L185.73 9.48ZM194.423 0.639998V6.64H198.303V32H205.023V6.64H208.903V0.639998H194.423ZM211.392 0.639998V32H218.112V17.4H221.512V32H228.232V0.639998H221.512V11.4H218.112V0.639998H211.392ZM231.592 0.639998V32H245.072V26H238.312V17.68H245.072V11.68H238.312V6.64H245.072V0.639998H231.592ZM248.383 0.639998V32H255.103V17.44H255.503C257.823 17.48 258.103 18.16 258.103 21.56V32H264.823V22C264.823 17.32 264.343 16.92 262.743 15.48C264.063 14.72 265.343 14.04 265.343 9.12C265.343 3.88 264.463 0.639998 255.783 0.639998H248.383ZM255.103 6.64H256.103C258.343 6.64 258.623 7.04 258.623 9.2C258.623 11.56 258.263 11.84 255.983 11.84H255.103V6.64ZM278.072 0.639998V32H284.792V11.84H284.872L288.592 32H294.032L297.752 11.84H297.832V32H304.552V0.639998H294.872L291.352 15.96H291.272L287.752 0.639998H278.072ZM307.92 0.639998V32H321.4V26H314.64V17.68H321.4V11.68H314.64V6.64H321.4V0.639998H307.92ZM324.071 0.639998V6.64H327.951V32H334.671V6.64H338.551V0.639998H324.071ZM341.04 0.639998V32H347.76V17.4H351.16V32H357.88V0.639998H351.16V11.4H347.76V0.639998H341.04ZM360.96 10.76V21.84C360.96 29.44 363.64 32.4 369.48 32.4C375.24 32.4 378 29.48 378 21.84V10.8C378 3.2 375.32 0.239999 369.48 0.239999C363.72 0.239999 360.96 3.12 360.96 10.76ZM369.48 6.24C371 6.24 371.28 7.6 371.28 10.36V22.28C371.28 24.92 371.04 26.4 369.48 26.4C367.92 26.4 367.68 24.92 367.68 22.28V10.36C367.68 7.8 367.92 6.24 369.48 6.24ZM381 0.639998V32H387.96C395.6 32 397.96 28 397.96 21.44V11.16C397.96 4.68 395.72 0.639998 388.32 0.639998H381ZM387.72 6.64C390.8 6.64 391.24 8.16 391.24 10.92V21.72C391.24 24.48 390.8 26 387.72 26V6.64Z" fill="url(#paint0_linear)"/>
                <defs>
                <linearGradient id="paint0_linear" x1="-301.759" y1="-37.8303" x2="-177.456" y2="314.738" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4F0000"/>
                <stop offset="1" stop-color="#FF5C00"/>
                </linearGradient>
                </defs>
            </svg>
        </div>

        <div class="mb-6 mt-12 flex justify-center">
            {% for item in post.meta('process_paragraphs') %}
                <p class="{% if not loop.last %}mb-6 lg:mb-4{% endif %} lg:mx-4 w-full lg:w-2/3">
                    <span class="sans-medium">
                        {{ item.text|split('. ')|first ~ '.' }}
                    </span>
                    <span>
                        {{ item.text|split('. ')|slice(1)|join('. ') }}
                    </span>
                </p>
            {% endfor %}
        </div>

        <div class="w-full hidden lg:flex justify-between">
            {% include "components/method_circles.twig" %}
        </div>

        <div class="w-full lg:hidden">
            <lottie-animation
                class="lottie lg:hidden mb-10"
                path="process_vertical"
                when-visible
            >
            </lottie-animation>
        </div>

        <div class="flex justify-center">
            {% if post.process_button_text and post.process_button_url %}
                <div class="flex flex-row justify-start mt-0 lg:mt-10 lg:mx-4">
                    <site-button url="{{ post.process_button_url }}">
                        {{ post.process_button_text }}
                    </site-button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
