<!doctype html>

<html class="no-js" {{site.language_attributes}}>

  {% include 'header/_head.twig' %}

  <body class="{{ body_class }}">
    <div class="pageloader is-active"></div>

    {% if post.can_edit %}
      {% if not in_production %}
        <div class="current-template-file-name">
          <span class="edit-link"><a class="post-edit-link h7 pl-3 has-text-danger" href="{{ post.edit_link }}">Edit Content</a></span>
        </div>
      {% endif %}
    {% endif %}

    <div id="app">
        <nav-bar></nav-bar>

		<div class="relative">

			{% block content %}

				{{ messages.base.no_content }}

			{% endblock %}

		</div>

	</div>

	{{ function('wp_footer') }}
	</body>
</html>
