{% extends "base.twig" %}

{% block content %}

    <div class="bkg-gradient">
        <div class="container narrow pb-4 lg:pb-16">

            {% include 'pages/case-studies/single/project_info_sm.twig' %}

            {% include 'pages/case-studies/single/intro.twig' %}
        </div>
    </div>

    {% set flex_blocks = flexblock %}

    {% if flex_blocks %}

        <div class="lg:mt-16">
            {% include 'blocks/flex-content.twig' with flex_blocks %}
        </div>

    {% endif %}
    
    <div class="container narrow pb-16">
        {% include 'pages/case-studies/single/outro.twig' %}
    </div>

    <div class="bg-paperback">

            <div class="flex flex-col">
                <div class="next-case-study flex flex-col lg:flex-row lg:justify-between">
                    <a href="{{ next_project.link }}" class="hidden lg:block w-1/2 overflow-hidden">
                        <img
                            src="{{ next_project.image }}"
                            alt="{{ next_project.title }}"
                            class="lazyload w-full object-cover"
                        />
                    </a>
            
                    <div class="flex flex-col w-full lg:w-1/2 p-4 lg:p-24">
                        <a href="{{ next_project.link }}" class="flex flex-row justify-between items-center w-full mb-10">
                            <span class="whitespace-no-wrap mr-2">
                                See Next Project
                            </span>
                            {# 'next' arrow #}
                            <svg width="400" height="56" viewBox="0 0 430 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 28L425 28" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M430 27.2812C415.09 27.2812 403.009 15.07 403.009 3.43779e-05" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M430 28.7188C415.09 28.7188 403.009 40.93 403.009 56" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                            </svg>
                        </a>
            
                        <a href="{{ next_project.link }}">
                            <span class="next-case-study-title serif text-black text-4xl lg:text-6xl">
                                {{ next_project.title }}
                            </span>
                            <p class="mt-8">
                                {{ next_project.tagline }}
                            </p>
                        </a>
                    </div>
                </div>
            
                <div class="flex flex-row justify-center pt-10 pb-4">
                    <a href="/case-studies" class="case-study-see-all relative py-2 border-2 border-black rounded-full hidden lg:flex flex-row justify-center items-center">
                        <svg
                            class="absolute"
                            width="31" height="20" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="M31 11.6079L2.29545 11.6079" stroke="#000" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M-1.69078e-06 11.9234C6.246 11.9234 11.3071 16.9932 11.3071 23.2499" stroke="#000" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M-3.18127e-06 11.3265C6.246 11.3265 11.3071 6.25671 11.3071 0" stroke="#000" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                        <span>
                            See All Projects
                        </span>
                    </a>
                    <a href="/case-studies" class="lg:hidden flex flex-row justify-between items-center">
                        <svg width="223" height="16" viewBox="0 0 223 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M222.937 7.45435L0.937016 7.45432" stroke="black" stroke-miterlimit="10"/>
                            <path d="M-6.66764e-05 7.92554C4.14044 7.92554 7.49548 11.2955 7.49548 15.4544" stroke="black" stroke-miterlimit="10"/>
                            <path d="M-6.70055e-05 7.52884C4.14044 7.52884 7.49548 4.15889 7.49548 0" stroke="black" stroke-miterlimit="10"/>
                        </svg>
                        <span class="whitespace-no-wrap ml-2">
                            Back to All
                        </span>
                    </a>
                </div>
            </div>
    </div>

{% endblock %}
