{% extends "base.twig" %}

{% block content %}

  <div class="container offset more">

    <div class="px-4">

      <div class="flex flex-wrap">
          {% include 'components/back_link.twig' with { text: 'See All Insights', link: '/insights' } %}

          <a href="/insights" class="hidden xl:flex lg:absolute ml-3 xl:ml-6 mt-10 mb-10 lg:mt-20 left-0 hide-small-desktop sticky top-0">
              <div class="transform rotate-90 py-4">
                  {% include 'components/objects/anchor-link-arrow.twig' %}
              </div>
              <div class="text-sm sans-bold tracking-widest uppercase text-stone flex items-center ml-5">
                  Back
              </div>
          </a>
          <div class="flex flex-wrap pt-10 lg:pt-20 xl:pt-24 md:pb-10 w-full">

              <div class="w-full lg:w-1/4 mb-6">
                  <h6 class="uppercase text-lg md:text-xl tracking-wider text-stone lg:mt-3 splitMeByWord">
                      {{ post.date }}
                  </h6>
              </div>

              <div class="w-full lg:w-3/4">
                  <h1 class="text-4xl md:text-5xl lg:text-6xl leading-tight max-w-full splitMeByLine">
                      {{ post.title }}
                  </h1>
              </div>

          </div>
          {% if TimberImage(post.thumbnail)  %}
          <div class="w-full my-8 xl:my-12">
              <img
                  src="{{ TimberImage(post.thumbnail).src  }}"
                  alt="{{ post.title }}"
                  class="w-full object-cover lazyload"
              />
          </div>
          {% endif %}

          <div class="wysiwyg">
              {{ post.content|striptags('<a><b><strong><i><p><br><blockquote><img><ul><ol><li><iframe><h1><hr><h2><h3><h4><h5><h6>')|wpautop }}
          </div>
      </div>
    </div>

    {% set flex_blocks = flexblock %}

    {% if flex_blocks %}

        <div class="">
            {% include 'blocks/flex-content.twig' with flex_blocks %}
        </div>

    {% endif %}

    {% include 'pages/insights/single/outro.twig' %}

  </div>

{% endblock %}
