<project-info>
    <div class="bg-slate text-white pb-32 lg:hidden">
        <div class="container flex flex-col">
            {% include 'components/back_link.twig' with { class: 'close-project-info-sm', text: 'Close' } %}

            <h6 class="uppercase text-sm sans-bold tracking-widest pt-10 pb-6 tracking">
                {{ post.title }}
            </h6>

            <h1 class="text-5xl leading-tight mb-4 lg:mb-0">
                {{ post.tagline }}
            </h1>

            {# awards list #}
            <ul class="my-4">
                {% for item in post.awards %}
                    {% if item.link|length %}
                        <a href="{{ item.link }}" target="_blank" class="flex flex-row items-center">
                    {% endif %}
                        <li class="flex flex-row items-center mb-4">
                                    <svg class="mr-4" width="30" height="32" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42 18.0782L41.5676 16.1295L32.6138 16.2278L38.2709 9.06364L37.0649 7.49981L29.0394 11.5977L31.1221 2.61183L29.3766 1.74395L23.8702 9.03089L21.97 0H20.03L18.1298 9.03089L12.6234 1.74395L10.8779 2.61183L12.9606 11.5977L4.93511 7.49981L3.7291 9.06364L9.38623 16.2278L0.432417 16.1295L0 18.0782L8.10881 22L0 25.9218L0.432417 27.8705L9.38623 27.7722L3.7291 34.9364L4.93511 36.5002L12.9606 32.4023L10.8779 41.3882L12.6234 42.256L18.1298 34.9691L20.03 44H21.97L23.8702 34.9691L29.3766 42.256L31.1221 41.3882L29.0394 32.4023L37.0649 36.5002L38.2709 34.9364L32.6138 27.7722L41.5676 27.8705L42 25.9218L33.8912 22L42 18.0782Z" fill="#FFB800"/>
                                    </svg>
                                    <span>
                                        {{ item.name }}
                                    </span>
                        </li>
                    {% if item.link|length %}
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>

            <p>
                {{ post.quote }}
            </p>

            {# results list #}
            {% if post.results|length > 0 %}
                <div class="flex flex-col lg:hidden mt-10">
                    <h2 class="border-t-2 border-white w-full text-2xl py-4">
                        The Results
                    </h2>

                    <div class="flex flex-row flex-wrap mb-10 mt-2">
                        {% for item in post.results %}
                            <div class="flex flex-col items-start lg:items-center w-1/2 mb-4 pr-1">

                                <span class="text-5xl my-2 serif-header">
                                    <animate-number value="{{ item.stat }}"></animate-number>
                                </span>

                                <hr class="text-white border-white w-1/2" />
                                <span class="text-left lg:text-center w-full lg:w-5/6 my-2 pr-4">
                                    {{ item.text }}
                                </span>
                                <hr class="text-white border-white w-1/2" />

                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="flex flex-col my-10">
                <h2 class="border-t-2 border-white w-full text-2xl py-4">
                    {{ credits.header }}
                </h2>

                <div class="flex flex-row flex-wrap my-6">
                    <div class="flex flex-col w-full mb-10">
                        <span class="uppercase mb-2 text-sm sans-bold tracking-wider">
                            Sector
                        </span>
                        <ul>
                            {% for item in credits.sectors %}
                                <li>
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {# work types / disciplines #}
                    {% if post.work_types|length > 0 %}
                        <div class="flex flex-col mb-10 w-full">
                            <span class="uppercase mb-2 text-sm sans-bold tracking-wider">
                                Disciplines
                            </span>
                            <ul>
                                {% for item in post.work_types %}
                                    <li>
                                        {{ item }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="flex flex-col mb-10 w-full">
                        <span class="uppercase mb-2 text-sm sans-bold tracking-wider">
                            Client
                        </span>
                        <span>
                            {{ credits.client_name }}
                        </span>
                    </div>

                    {% if credits.client_url %}
                        <div class="flex flex-col mb-10">
                            <span class="uppercase mb-2 text-sm sans-bold tracking-wider">
                                Website
                            </span>
                            <a href="{{ credits.client_url }}" target="_blank">
                                {{ credits.client_url }}
                            </a>
                        </div>
                    {% endif %}

                    <div class="flex flex-col">
                        <span class="uppercase mb-2 text-sm sans-bold tracking-wider">
                            Team
                        </span>
                        <ul>
                            {% for item in credits.team_members %}
                                <li>
                                    {{ item.name }}, {{ item.position }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</project-info>
