<div class="pt-6 flex flex-col items-center lg:items-start mb-16 lg:mb-6">
    <span class="uppercase text-sm tracking-widest sans-bold text-{{ color|default('stone') }} lg:text-{{ color_lg|default(color)|default('stone') }}">
        {{ post.post_title }}
    </span>

    <svg
        class="lg:hidden mt-2"
        width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M11.6079 0L11.6079 28.7045" stroke="{{ arrow_color|default('#958F86') }}" stroke-width="3" stroke-miterlimit="10"/>
        <path d="M11.9233 31C11.9233 24.754 16.9931 19.6929 23.2499 19.6929" stroke="{{ arrow_color|default('#958F86') }}" stroke-width="3" stroke-miterlimit="10"/>
        <path d="M11.3265 31C11.3265 24.754 6.25671 19.6929 0 19.6929" stroke="{{ arrow_color|default('#958F86') }}" stroke-width="3" stroke-miterlimit="10"/>
    </svg>
</div>
