<div class="team-member w-1/2 lg:w-1/3 xl:w-1/4">
    <div class="mx-4 mb-20 flex flex-col">
        <div class="team-member-image-container">
            {% if team_member.image %}
                <img
                    class="object-cover"
                    src="{{ team_member.image }}"
                    alt="{{ team_member.name }}"
                />
            {% endif %}
        </div>
        <div class="serif text-2xl mt-3 mb-2">
            {{ team_member.name }}
        </div>
        <div>
            {{ team_member.position }}
        </div>
        {% for dept in team_member.departments %}
            <div class="text-stone -mt-1">
                {{ dept }}
            </div>
        {% endfor %}
    </div>
</div>
