<head>
  <meta charset="utf-8">

  {# force Internet Explorer to use the latest rendering engine available #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>

  {# ldFriendly" content="True"> #}
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {# preload fonts for lighthouse audit #}
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.otf" as="font" crossorigin="anonymous" />
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.eot" as="font" crossorigin="anonymous" />
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.svg" as="font" crossorigin="anonymous" />
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.ttf" as="font" crossorigin="anonymous" />
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.woff" as="font" crossorigin="anonymous" />
  <link rel="preload" href="{{ theme.link }}/dist/fonts/HappyTime.woff2" as="font" crossorigin="anonymous" />

  <meta name="description" content="{{ site.description }}">
  <!--[if IE]>
  <link rel="shortcut icon" href="">
  <![endif]-->

  <link rel="pingback" href="{{ site.pingback_url }}"/>

  {% if projects %}
    {% for project in projects %}
      {% for imageUrl in project.gallery %}
        <link rel="preload" as="image" href="{{ imageUrl }}"/>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if project_gallery %}
    {% for imageUrl in project_gallery %}
      <link rel="preload" as="image" href="{{ imageUrl }}"/>
    {% endfor %}
  {% endif %}

  {{ function('wp_head') }}
  
</head>
