<h2 class="text-center mb-16 mt-24 pt-4 text-periwinkle">
    {{ post.post_title }}
</h2>

<div class="w-full flex flex-col items-center">
    {% for video in videos %}
        <video-player
            type="{{ video.type }}"
            src="{{ video.src }}"
        >
        </video-player>
    {% endfor %}
</div>

{% if gallery %}
    <video-project-gallery items-str='{{ gallery|json_encode|striptags|escape }}'>
    </video-project-gallery>
{% endif %}

{% if post.content %}
    <div class="post-content pt-10 pb-24">
        {{ post.content }}
    </div>
{% endif %}
