<div id="about" data-sal="fade" data-sal-delay="200" data-sal-duration="800">

    <div class="container narrow">

      <div class="px-3 px-lg-0 mb-5" data-sal="fade-in" data-sal-delay="400" data-sal-duration="800">

      {% if block.title %}

      <div class="h2 m-0 p-0 has-text-white">

        {{ block.title }}

      </div>

      {% endif %}

      {% if block.sub_title %}

      <div class="h3 mb-4">

        {{ block.sub_title }}

      </div>

      {% endif %}

      {% include 'partial/block-intro.twig' %}

      </div>

    </div><!-- /.container -->

    <div class="columns is-centered mx-0">

      <div class="column our-team is-6 level-item has-text-centered" data-sal="slide-up" data-sal-duration="800" style="--sal-delay: 0s;">
        <div>
        <a href="{{ block.link_1.url }}" class="button button-about w-50" alt="{{ block.link_1.title }}">
          {{ block.link_1.title }}
        </a>
        </div>
        <div class="enlarge">
          <div data-sal="zoom-in" data-sal-delay="200" data-sal-duration="800">
            <div id="animation-team"></div>
          </div>
        </div>
      </div>

      <div class="column our-process is-6 level-item has-text-centered" data-sal="slide-up" data-sal-duration="800" style="--sal-delay: 0s;">
        <div>
        <a href="{{ block.link_2.url }}" class="button button-about w-50" alt="{{ block.link_2.title }}">
          {{ block.link_2.title }}
        </a>
        </div>
        <div class="enlarge">
          <div data-sal="zoom-in" data-sal-delay="200" data-sal-duration="800">
            <div class="hide-this">
              <div id="animation-process-start"></div>
            </div>
            <div class="show-this d-none">
              <div id="animation-process"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>