<div id="approach">

  <div class="px-3 px-lg-0 mb-0 mb-lg-5" data-sal="fade-in" data-sal-delay="400" data-sal-duration="800">

  {% if block.title %}

  <div class="h1 has-text-centered sans-bold is-uppercase mt-0 mt-lg-5 mb-0 mb-lg-5 has-text-grey">

    {{ block.title }}

  </div>

  {% endif %}

  {% if block.sub_title %}

  <div class="h3 mb-4">

    {{ block.sub_title }}

  </div>

  {% endif %}

  {% include 'partial/block-intro.twig' %}

  </div>

  {% for item in block.approach_repeater %}
  <div class="relative" data-sal="slide-up" style="--sal-delay: 0s;" data-sal-duration="800">
    <span class="border-left-step"></span>
    <div class="container narrow">
      <div class="columns is-mobile is-multiline is-centered is-vcentered m-0">
        <div class="column is-one-third-mobile">
          <div class="approach-step sans-bold has-text-grey">
            <span>{{ loop.index }}</span>
          </div>
        </div>
        <div class="column is-two-thirds-mobile">
          <div id="animation-approach-{{ loop.index }}"></div>
        </div>
        <div class="column is-full-mobile py-0 py-lg-4">
          <div class="h3 serif-italic has-text-grey">{{ item.title }}</div>
          <div class="h2 has-text-grey">—</div>
          <p class="is-size-6 has-text-grey">{{ item.copy }}</p>
          <a href="{{ item.link }}" class="sans-bold is-uppercase has-text-grey">{{ item.link_title }}</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div><!-- #approach -->
