<div id="insights" data-sal="fade" data-sal-delay="100" data-sal-duration="800">

  <div class="container narrow">

    <div class="px-3 px-lg-0 mb-5 text-center">

    {% include 'partial/block-title.twig' %}

    {% include 'partial/block-intro.twig' %}

    </div>

  </div><!-- /.container -->

  <div id="carousel-insights" class="carousel">

    <div class="container narrow">

      <div class="d-none d-lg-block">

        {% for post in TimberPost( block.insights ) %}

          {% if loop.index0 is divisible by(3) %}
            <section class="row d-lg-flex">
          {% endif %}

          {% set counter = ( counter | default(0) ) + 200 %}

          {% if loop.index0 < 3  %}

            <div class="col insights has-text-left" data-sal="zoom-in" data-sal-delay="{{counter}}" data-sal-duration="800">

              {#<div class="card-header has-text-black px-3 py-2 bold">
                {{ post.terms('post_tag') | join(', ') }}
              </div>#}

              <a href="/insights/{{ post.post_name }}" class="insight-img-link" alt="{{ post.post_title }}">
                <div class="card-image lazyload featured-post-image loop">
                  <figure class="image" style="min-width: 100%;
                    height: 260px;
                    position: relative;
                    will-change: transform;
                    background-color: black;
                    background-image: url('{{ Image(post).src|resize(800) }}');
                    background-position: center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    ">
                  </figure>
                </div>
              </a>

              <div class="card-content p-3">
                <div class="h4 sans-bold mb-3 has-text-black"><a href="/insights/{{ post.post_name }}">{{ post.post_title }}</a></div>
                <p class="serif is-size-6">{{ post.preview.length( 18 ).read_more( '' ) }}</p>
              </div>

              <div class="featured-post-footer p-3 sans-bold is-uppercase is-size-6">
                <a href="/insights/{{ post.post_name }}" class="underline-slide insight-read-more" alt="{{ post.post_title }}">Read More</a>
              </div>

            </div>

          {% endif %}

          {% if loop.index is divisible by(3) or loop.last %}
            </section>
          {% endif %}

        {% endfor %}

      </div>

      <div class="d-block d-lg-none">

        <carousel :responsive="{0:{items:1,stagePadding:40},768:{items:2,margin:0,stagePadding:40}}" :nav="false" :center="false" :loop="true" :autoHeight="true" :autoplay="false" >

          {% for post in TimberPost( block.insights ) %}

          {% set counter = ( counter | default(0) ) + 200 %}

          <div class="col insights has-text-left carousel-item d-flex">

            {#<div class="card-header has-text-black px-3 py-2 bold">
              {{ post.terms('post_tag') | join(', ') }}
            </div>#}

            <a href="/insights/{{ post.post_name }}" class="insight-img-link" alt="{{ post.post_title }}">
              <div class="card-image featured-post-image loop">
                <figure class="image" style="min-width: 100%;
                  height: 100%;
                  background-color: black;
                  position: relative;
                  will-change: transform;
                  background-image: url('{{ Image(post).src|resize(800) }}');
                  background-position: center;
                  background-size: cover;">
                </figure>
              </div>
            </a>

            <div class="card-content p-3">
              <div class="h4 sans-bold bold mb-3 has-text-black"><a href="/insights/{{ post.post_name }}">{{ post.post_title }}</a></div>
              <p class="serif is-size-6 m-0">{{ post.preview.length( 18 ).read_more( '' ) }}</p>
            </div>

            <div class="featured-post-footer px-3 pb-4 pt-0 pt-lg-4 sans-bold is-uppercase is-size-6 mt-auto">
              <a href="/insights/{{ post.post_name }}" class="underline-slide insight-read-more" alt="{{ post.post_title }}">Read More</a>
            </div>

          </div>

          {% endfor %}

        </carousel>

      </div>

      <div class="see-all text-center insights h6 sans-bold uppercase mt-5"><a href="/insights" alt="See All {{ block.title }}">See All {{ block.title }}</a></div>

    </div>

  </div><!-- #carousel -->

</div><!-- #insights -->