{# hero #}
<div class="container lg:mt-24">
    {% include 'components/page_title.twig' with { color_lg: 'black' } %}

    <div class="row lg:mb-10">
        <div class="lg:col-8 px-0 mx-0">
            <h1 class="our-work aura text-black uppercase splitMeByWord" data-delay="200">
                Our Work
            </h1>
        </div>
        <div class="lg:col-4 flex">
            <span class="mb-6 lg:mb-0 text-xl flex items-center" data-sal="fade" data-sal-delay="800" data-sal-duration="800">
                {{ post.post_content }}
            </span>
        </div>
    </div>
</div>

<div class="container mb-10" data-sal-threshold="0.2">
    <div class="flex flex-wrap -mx-2 lg:-mx-4">

        {% set col_count = 0 %}
        {% set base_time = 0 %}

        {% for item in case_studies %}

            {% if col_count >= 12 %}
                {% set base_time = 0 %}
                {% set col_count = 0 %}
            {% endif %}

            {% set base_time = base_time + 150 %}

            {% if item.is_featured %}
                {% set col_count = col_count + 8 %}
            {% else %}
                {% set col_count = col_count + 4 %}
            {% endif %}

            {% if col_count > 12 %}
                {% set base_time = 150 %}
                {% set col_count = 8 %}
            {% endif %}


            <div {% if loop.index0 == 0 %}id="our-work"{% endif %} class="{% if item.is_featured %}w-full lg:w-2/3{% else %}w-1/2 lg:w-1/3{% endif %}" data-sal="slide-up" style="--sal-duration: 800ms; --sal-delay: {{loop.index0 < 2 ? 750 : base_time}}ms;">
                <div class="mx-2 lg:mx-4">

                    {% include 'components/case_study_card.twig' with {
                        in_development: item.in_development,
                        title: item.title,
                        link: item.link,
                        image: item.featured_image|default(item.image),
                        tagline: item.tagline,
                        work_types: item.work_types,
                        height_class: 'cs-height'
                    } %}

                    {# awards marquee #}
                    {% if item.awards|length > 0 %}
                        <ul class="border-t border-black mb-4">
                            {% for award in item.awards %}
                                <li class="py-2 border-b border-black">
                                    {% if award.link %}
                                        <a href="{{ award.link }}" target="_blank">
                                    {% endif %}
                                            <awards-marquee order="{{ loop.index }}">
                                                {{ award.name }}
                                            </awards-marquee>
                                     {% if award.link %}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{# friend orgs list #}
{% include 'components/friends-wall.twig' %}
